.checkout-header {
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(0, 0, 0);
  
    display: flex;
    justify-content: center;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .heading{
    color: rgb(228, 159, 12);
    font-size: 28px;
    font-family: monospace;
  }

  .checkout-header-left-section a{
    text-decoration: none;
  }

  .header-content {
    width: 100%;
    max-width: 1100px;
  
    display: flex;
    align-items: center;
  }
  
  .checkout-header-left-section {
    width: 280px;
  }
  
  @media (max-width: 575px) {
    .checkout-header-left-section {
      width: auto;
    }
  
   
  }
  
  .checkout-header-middle-section {
    flex: 1;
    flex-shrink: 0;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
  
    display: flex;
    justify-content: center;
  }
  
  .return-to-home-link {
    color: rgb(0, 113, 133);
    font-size: 23px;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media (max-width: 1000px) {
    .checkout-header-middle-section {
      font-size: 20px;
      margin-right: 60px;
    }
  
    .return-to-home-link {
      font-size: 18px;
    }
  }
  
  @media (max-width: 575px) {
    .checkout-header-middle-section {
      margin-right: 5px;
    }
  }
  
  .checkout-header-right-section {
    text-align: right;
    width: 150px;
  }
  
  @media (max-width: 1000px) {
    .checkout-header-right-section {
      width: auto;
    }
  }
  