body{
    margin: 0px;
    padding: 0px;
    position: relative;
}

.menu{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgb(77, 77, 77);
  width: 100%;
}

.heading{
  margin: 0;
  padding: 35px 0px;
  color: rgb(255, 196, 106);
  font-size: 55px;
  text-align: center;
}

button {
    cursor: pointer;
  }
  
  select {
    cursor: pointer;
  }
  
  input, select, button {
    font-family: Roboto, Arial;
  }
  
  .button-primary {
    color: rgb(33, 33, 33);
    border: 1.5px solid rgb(167, 114, 0);
    background-color: rgb(255, 211, 117);
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button-primary:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  }
  
  .button-primary:active {
    color: white;
    background-color: rgb(211, 144, 0);
    box-shadow: none;
  }
/*   
  .button-secondary {
    color: rgb(33, 33, 33);
    background: white;
    border: 1px solid rgb(213, 217, 217);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  }
  
  .button-secondary:hover {
    background-color: rgb(247, 250, 250);
  }
  
  .button-secondary:active {
    background-color: rgb(237, 253, 255);
    box-shadow: none;
  } */
  
 .limit-text-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .link-primary {
    color: rgb(253, 122, 0);
    cursor: pointer;
  }
  
   
  select {
    color: rgb(33, 33, 33);
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(213, 217, 217);
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  }
  
  select:focus,
  input:focus {
    outline: 2px solid rgb(255, 153, 0);
  } 