header {
  background-color: rgba(19, 25, 33, 0.5);
  color: white;
  margin: 0;
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 100;
}

.left-section {
  width: 25%;
  display: flex;
  align-items: center;
  color: rgb(228, 159, 12);
  font-size: 28px;
  margin-left: 45px;
  font-family: monospace;
}

.left-section a{
  text-decoration: none;
  color: rgb(228, 159, 12);
}

.middle-section {
  flex: 1;
  max-width: 850px;
}

.Header-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: Roboto;
  transition: font-size 0.15s;
}
li a:hover {
  color: rgb(228, 159, 12);
  font-size: 14px;
}

.right-section {
  width: 25%;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.cart-icon {
  width: 45px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 1px;
  left: 14px;

  width: 26px;
  text-align: center;
}

.middle-section-compressed {
  display: none;
}

@media (max-width: 680px) {
  .left-section {
    margin-left: 30px;
    font-size: 18px;
  }
  .middle-section {
    display: none;
  }
  .middle-section-compressed {
    display: inline-block;
  }
}